{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Website Design - Easy Tutorials</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,400;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="{% static 'images/logo.png' %}"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times-circle" onclick="hideMenu()"></i>
                <ul>
                    <li><a href=".course">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">COURSE</a></li>
                    <li><a href="">BLOG</a></li>
                    <li><a href="">CONTACT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
<div class="text_box">
    <h1>World's Biggest University<h1>
    <p>Making Websiteis now one of the easiest thing in the world.You 
        Just Need to learn HTML,CSS,<br> JavaScript and you are good to go.
     </p>
     <a href="" class="hero-btn">Visit Us To know More</a>   
</div>

    </section>
    <!-----Course--------->
    <section class = "course">
        <h1>Courses We offer</h1>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, voluptatibup!</p>
        <div class="row">
            <div class="course-col">
                <h3>Intermidiate</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit temporibus explicabo quam laboriosam recusandae nostrum enim dignissimos laudantium? Nemo enim debitis soluta, accusamus, corporis commodi aliquam modi quae consequatur assumenda sed voluptates eum hic consectetur vero, perspiciatis ut pariatur ea? Mollitia optio quisquam dolore. Eos natus error nobis reprehenderit accusamus.</p>
            </div>
            <div class="course-col">
                <h3>Degree</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit temporibus explicabo quam laboriosam recusandae nostrum enim dignissimos laudantium? Nemo enim debitis soluta, accusamus, corporis commodi aliquam modi quae consequatur assumenda sed voluptates eum hic consectetur vero, perspiciatis ut pariatur ea? Mollitia optio quisquam dolore. Eos natus error nobis reprehenderit accusamus.</p>
            </div>
            <div class="course-col">
                <h3>Graduation</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit temporibus explicabo quam laboriosam recusandae nostrum enim dignissimos laudantium? Nemo enim debitis soluta, accusamus, corporis commodi aliquam modi quae consequatur assumenda sed voluptates eum hic consectetur vero, perspiciatis ut pariatur ea? Mollitia optio quisquam dolore. Eos natus error nobis reprehenderit accusamus.</p>
            </div>
        </div>
    </section>
<!-----------Campus--------->

<section class="campus">
    <h1>Our Global Campus</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, voluptatibup!</p>
    <div class="row">
        <div class="campus-col">
            <img src="{% static 'images/London.png' %}">
            <div class="layer">
                <h3>London</h3>
            </div>
        </div>
            <div class="campus-col">
                <img src="{% static 'images/newyork.png' %}">
                <div class="layer">
                    <h3>New York</h3>
        </div>
            </div>
        <div class="campus-col">
            <img src="{% static 'images/Washington.png' %}">
            <div class="layer">
                <h3>Washignton</h3>
    </div>
        </div>
    </div>

</section>
<!--------Facilities-->
<section class="facilities">
    <h1>Our facilities</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, voluptatibup!</p>
    <div class="row">
        <div class="facilities-col">
            <img src="{% static 'images/library.png' %}" alt="">
            <h3>World Class library</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, magnam ut. Vero, porro iusto aspernatur nesciunt voluptatum impedit eum quo!</p>
        </div>
        <div class="facilities-col">
            <img src="{% static 'images/basketball.png' %}" alt="">
            <h3>Largest Play Ground</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, magnam ut. Vero, porro iusto aspernatur nesciunt voluptatum impedit eum quo!</p>
        </div>
        <div class="facilities-col">
            <img src="{% static 'images/cafeteria.png' %}" alt="">
            <h3>Tasty and Healthy Food</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, magnam ut. Vero, porro iusto aspernatur nesciunt voluptatum impedit eum quo!</p>
        </div>
    </div>
</section>

<!-- --------Testimonials------->

<section class="testimonial">
    <h1>What Our Students Says</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, voluptatibup!</p>
    <div class="row">
        <div class="testimonial-col">
            <img src="{% static 'images/user1.jpg' %}" alt="">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque vitae id quidem eius repellendus exercitationem non consequatur ea, officiis, architecto magni tenetur, quia consequuntur esse tempora sunt perferendis ex et.</p>
                <h3>Christine Berkley</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>
                <div class="testimonial-col">
            <img src="{% static 'images/user2.jpg' %}" alt="">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque vitae id quidem eius repellendus exercitationem non consequatur ea, officiis, architecto magni tenetur, quia consequuntur esse tempora sunt perferendis ex et.</p>
                <h3>David Byer</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
        </div>
    </div>
</section>
<!-- ------Call To action------- -->

<section class="cta">
    <h1>Enroll for our Vraious online course anywhere from the world</h1>
    <a href="" class = "hero-btn">CONTACT US</a>
</section>
  <!-----Footer----->

  <section class="footer">
    <h4>About Us</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, quod, sapiente quia dicta consequuntur rem <br>repellendus commodi modi cumque soluta laudantium saepe explicabo, ea magni!</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
    <p>Made with <i class = "fa fa-heart-o"></i>By Easy Tutorials</p>
  </section>




    <!-----JvaScript for Toggle Menu----->
    <script>
        var navLinks= document.getElementById("navLinks");
        function showMenu(){
            navLinks.style.right= "0";
        }
        function hideMenu(){
            navLinks.style.right= "-200px";
        }
    </script>
</body>
</html>