<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
    <p>Lorem <i> consectetur adipisicing elit</i> Ratione, numquam! </p>
    <p>Lorem <em> consectetur adipisicing elit</em>. Ratione, numquam! </p>
    <p>Lorem <b> consectetur adipisicing elit</b>. Ratione, numquam! </p>
    <p>Lorem <strong> consectetur adipisicing elit</strong>. Ratione, numquam! </p>
    <p>Lorem <u> consectetur adipisicing elit.</u> Ratione, numquam! </p>
    <p>Lorem <mark> consectetur adipisicing elit.</mark> Ratione, numquam! </p>
    <p>Lorem <strike> ipsum dolor sit </strike>amet, consectetur adipisicing elit. Ratione, numquam! </p>
    <p>Lorem  <del>ipsum dolor sit </del>amet, consectetur adipisicing elit. Ratione, numquam! </p>
    <p>Lorem  <mark style="background-color: red"> ipsum dolor sit</mark> amet, consectetur adipisicing elit. Ratione, numquam! </p>
    <p>Lorem ipsum <sup> sit amet,</sup> consectetur adipisicing elit. Ratione, numquam! </p>
    <p>Lorem ipsum <sub> sit</sub> amet, consectetur adipisicing elit. Ratione, numquam! </p>


</body>
</html>